/* This file is part of Wike (com.github.hugolabe.Wike)
SPDX-FileCopyrightText: 2021-25 Hugo Olabera
SPDX-License-Identifier: GPL-3.0-or-later
*/


/* Dark theme */

:root {
  --headerbar-bg-color: #101418;
}

.wikiview-status {
  background-color: #101418;
}
